[uwsgi]
http = 0.0.0.0:{{ uwsgi_port }}
plugin = python3
base = {{ docroot }}
chdir = %(base)
module = app:app
virtualenv = %(base)/venv
socket = %(base)/backend.sock
chmod-socket=774

master = true
processes = 5
threads = 5
vacuum = true
lazy-apps = true
disable-logging = true
die-on-term = true
buffer-size = 65535

; celery daemons
attach-daemon = %(virtualenv)/bin/celery worker --app=tasks.worker.app --concurrency=3
smart-attach-daemon = /tmp/celerybeat.pid %(virtualenv)/bin/celery beat --app=tasks.worker.app --pidfile=/tmp/celerybeat.pid
