{% include 'emails/header.html' %}

<p>Dear Valued Member,</p>

<p>Welcome to the new and improved member Portal. The Pension Management Portal (PMP) was designed for your convenience and with the ongoing fight against Covid-19, you can review your latest statement, update account details and even adjust your additional voluntary contributions, all from the safety of your home.</p>
<p>Using the portal is easy, to access our new portal, please follow the instructions below, where we have provided you with your username and temporary password. We encourage you to change your password once you have gained access to the new portal.</p>
<div>
    <b>URL:</b> <a href="{{ frontend_url }}login" target="_blank">{{ frontend_url }}login</a> <br />
    <b>Username:</b> <pre class="inline">{{ username }}</pre> <br>
    <b>Your temporary password is:</b> <pre class="inline">{{ password }}</pre>
</div>
<br>
<p>If you have received your login details but you are experiencing issues, please note the following:<p>
<ol>
    <li>Our portal is most compatible with Google Chrome and Firefox</li>
    <li>Before logging in, ensure that your pop up blocker is turned off</li>
    <li>Our portal is not currently compatible with iPhone</li>
</ol>
<p>In case you are facing any issues logging in to the portal with the temporary password provided. Please ensure that:<p>
<ol>
    <li style="color:red"><b>You are copying the right password (without any extra spaces). This is the most cases where issues occur.</b></li>
</ol>
<p>If you have made too many attempts to access your account, you may reset your password by completing the following steps:</p>
<ol>
    <li>Select "Forgot your password"</li>
    <li>Select "By Using Email"</li>
    <li>Enter your Silver Thatch Pensions member number and email address provided on your member enrollment form</li>
    <li>A temporary password will be emailed. Once you're able to log in, you'll be prompted to enter a new password, security question and answer. Keep this information as safe as you would your online banking details.</li>
</ol>
<p>As always, our team of pension administrators are here to help. Should you have a questions or need assistance, please do not hesitate to contact us via: <br>
    <b>Email</b>: support@silverthatch.org.ky <br>
    <b>Phone</b>: 345-943-7770 <br>
    <b>WhatsApp</b>: 345-943-7770</p>
<p>Best Regards</p>

{% include 'emails/footer.html' %}

